body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background: #333;
    color: #ddd;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #555;
    border: 1px solid #999;
    float: left;
    font-size: 34px;
    font-weight: bold;
    line-height: 80px;
    height: 80px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 80px;
    color: #ddd;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .game-board {
      justify-content: center;
  }
  
  .game-info {
      margin-top:10px;
    justify-content: center;
    text-align: center;
  }

  .game-info button {
    border-radius: 5px;
  }

  .game-info button:active {
    background: #aaa;
  }

  .moves-list {
      text-align: left;
  }

  button {
      background: #555;
      border: none;
      color: #ddd;
      padding: 5px;
  }
  
  